<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Han's UI-Bootstrap Fixes</title>
    
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />
</head>
<body>
    <h3>UI-Bootstrap Alert Test</h3>
    <div ng-app="MyApp">
       <div ng-controller="AppController as vm">
          <div class="container">
             <div class="row">
                <div class="col">
                   <h4>Single Alert</h4>
                   <div uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.alertStyle || 'info')" close="vm.closeAlert(0)">
                      {{alert.statusMessage}}
                   </div>
                </div>
             </div>
             <form>
             <div class="row mb-2">
                <div class="col-8">
                   <label>Select Alert Style:</label>
                   <select class="form-select" ng-model="vm.alertStyle">
                       <option value="danger">Danger</option>
                       <option value="info">Info</option>
                       <option value="success">Success</option>
                       <option value="warning">Warning</option>
                   </select>
                </div>
             </div>             
             <div class="row">
                <div class="col-8">
                   <input type="text" ng-model="vm.warningMessage" class="form-control"/>
                </div>
                <div class="col-4">
                   <button class="btn btn-primary me-2" ng-click="vm.addAlert()">Display Alert</button>
                   <button class="btn btn-danger" ng-click="vm.removeAlert()">Clear</button>                   
                </div>
             </div>
             </form>
          </div>
       </div>
    </div>
        
    <script src="/assets/jquery/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/assets/angularjs/js/angular.min.js" type="text/javascript"></script>
    <script src="/assets/angularjs/js/angular-resource.min.js" type="text/javascript"></script>
    <script src="/assets/angularjs/js/angular-route.min.js" type="text/javascript"></script>
    <script src="/assets/ui-bootstrap/js/ui-bootstrap-tpls.js" type="text/javascript"></script>
    <script src="/assets/app/js/alert-test.js" type="text/javascript"></script>
</body>
</html>
